.container-fluid {
    width: 50%;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 15px;
}

.input-group-text {
    min-width: 150px;
}

.form-control {
    width: 100%;
}

button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-cls{
    display: none;
}

  .toast-success {
    background-color: #28a745;
  }