<div class="myContainer">
  <div *ngIf="loadingData" class="spinner">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
  </div>
  <div *ngIf="!loadingData">
  <!-- <div class="navbar">
  <button type="button" class="btn3" style="border-radius: 10px;" matTooltip="Click Edit Button" (click)="LogOut()">
      LogOut
    </button>

    <img [src]="image"  (click)="EditProfile()"  class="myImage" alt="Image" height="120px" width="120px"><span class="name">{{username}}</span>
  </div> -->
<div class="importExport">
  <button class="btn btn-primary" (click)="exportexcel()">Export to Excel</button>
  <p-fileUpload mode="basic" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept=".csv,.xml,.tsv,.xlsx" [auto]="true" chooseLabel="Import File" (onUpload)="onFileSelected($event)"></p-fileUpload>

  <!-- <input type="file" (change)="onFileSelected($event)" class="custom-file-input" style="margin-left: 900px; ">
  <button (click)="uploadFile()" class="btn btn-primary">Import</button> -->
</div>
  <p-table 
  
  #myTab [value]="filteredProducts" id="excel-table"
  (sortFunction)="customSort($event)"
    [responsive]="true" [globalFilterFields]="['name', 'price', 'description', 'category']"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [itemsPerPageOptions]="[5, 10, 15]"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div>
        <button type="button" style="float:left; border-radius: 10px;" class="btn1" *ngIf="role === 'Admin'" matTooltip="Click Edit Button" (click)="AddProduct()">
          Add Product
        </button>
      
        <span style="margin-left: 850px;">
          <i class="pi pi-search"  style="margin: 6px 6px 0 0;"> </i>
          <input type="text" #input size="50" placeholder="search" (input)="Searching(input.value,pageSize)" style="width:auto; height: 25px;" />
        </span>
       
      </div>
      <div>
    </div>
    </ng-template>
    <ng-template pTemplate="header" class="heading">
      <tr>
        <th (click)="SortByName()">Product Name<span (click)="SortByName()" class="arrow"> &#8597;</span></th>
        <th (click)="SortByPrice()">Price<span (click)="SortByPrice()" class="arrow"> &#8597;</span></th>
        <th (click)="SortByDescription()">Description<span (click)="SortByDescription()" class="arrow"> &#8597;</span></th>
        <th (click)="SortByCategory()">Category<span (click)="SortByCategory()" class="arrow"> &#8597;</span></th>
        <th (click)="SortByName()">Image<span (click)="SortByName()"  class="arrow"> &#8597;</span></th>
        <th>Actions<span  class="arrow"> &#8597;</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-prd>
      <tr>
        <td>{{ prd.name }}</td>
        <td>{{ prd.price }}</td>
        <td>{{ prd.description }}</td>
        <td>{{ prd.category }}</td>
        <td>
          <img [src]="prd.image" alt="Product Image" width="200" height="200" />
        </td>
        <td>
          <button *ngIf="role === 'Admin'" class="btn btn-primary" style="margin-right: 2px;"   (click)="EditProduct(prd)">
            Edit
          </button>
         
  <p-button *ngIf="role === 'Admin'" type="button" (click)="DeleteProduct(prd)" icon="pi pi-check" label="Delete"></p-button>
  
          <button type="button" class="btn btn-danger" (click)="Details(prd)" data-toggle="modal">
            Details
          </button>
        </td>
      </tr>
    </ng-template>
    
    
  </p-table>
  <div class="pagination-Container">
    <button type="button" class="btn btn-primary" (click)="prev()" [disabled]="pageNumber === 1"><<</button>
    <span class="pageno">Page Number:{{ pageNumber }}</span>
  
    <span>
      <span></span>
      <select [(ngModel)]="pageSize" (change)="onItemsPerPageChange()">
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
      </select>
    </span>
    <button type="button"  class="btn btn-primary" [disabled]="!hasNextPage()" (click)="next()">>></button>
  </div>
  </div>
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  
  
</div>
