table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  font-size: 20px;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: black;
}

.btn1 {
  /* margin: auto;
 margin-bottom: 5px;
  padding: 10px; */
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: flex;
justify-content: center;
  font-size: 14px;
  cursor: pointer;
 
}
.btn3 {
  background-color: blue;
  border: none;
  color: white;
 padding: 6px 12px; 
  text-align: center;
  text-decoration: none;
  float: right;
  font-size: 14px;
  cursor: pointer;
}
.product-image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}
.navbar {
  height: 120px;
  /* background-color: black;
  color: white; */
}
.btn3{
  margin-top: 30px;
  margin-right: 10px;
}
::ng-deep .p-paginator .p-paginator-current {
  background-color: transparent;
  border: 0 none;
  color: #6c757d;
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  padding: 0 0.5rem;
  font-size: 20px;
}

::ng-deep .btn1[_ngcontent-ng-c2811101562] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  /* display: flex; */
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  float: left;
}
.heading{
margin-right: 500px;
  display:  inline;
  margin: auto;
}
::ng-deep .p-button {
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  padding: 9px;
  font-weight: 500px;
  margin-right: 2px;
}
::ng-deep .p-button .p-button-icon-left {
  margin-right: 0.5rem;
  display: none;
}
.pagination-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.pagination-Container button {
  margin: 0 5px;
}

.pagination-Container span {
  margin: 0 5px;
}
.pageno{
  display: flex;
  align-items: right;
  justify-content: end;
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
::ng-deep .p-button .p-button-label {
  transition-duration: 0.0s;
}
.name{
  font-weight: bold;
  font-size: 20px;
  float: right;
  margin-right: 25px;
  margin-top: 30px;
}
.myImage{
  border-radius: 50px;

}
.arrow-up {
  width: 4px; 
  height: 10px; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  font-weight: bolder;
  font-size: 100px;
  border-bottom: 5px solid black;
}