
<div class="container-fluid" id="login-form">
    <div id="login-head">
        <h1>SignUp</h1>
   </div>
   <div id="login-details">
    <form [formGroup]="UserObj" (ngSubmit)="onSubmit()" enctype="multipart/form-data" >
        
        <div class="form-group" id="data">
            <label>UserName</label>
            <input type="text" [class.is-invalid]="name.invalid && name.touched" formControlName="Username" class="form-control">
            <small class="text-danger" *ngIf="name.invalid && name.touched">UserName is required</small>
          </div>
          
        <div class="form-group" id="data">
            <label>Email</label>
            <input type="email" email="true" [class.is-invalid]="email.invalid && email.touched" formControlName="Email" class="form-control">
            <small class="text-danger" *ngIf="email.invalid && email.touched">Email is required and must be in desired pattern</small>
        </div>
        <div class="form-group" id="data">
            <label>Password</label>
            <input type="password" [class.is-invalid]="password.invalid && password.touched" formControlName="Password" class="form-control">
         <div *ngIf="password.invalid && password.touched">

            <small class="text-danger" *ngIf="password.invalid && password.touched">Password is required </small>
            <small class="text-danger" *ngIf="password.errors?.['invalidStartChar']">and must begin with Upper Letter </small>
            <small class="text-danger" *ngIf="password.errors?.['noNumber']">and must Contain number from 0-9 </small>
            <small class="text-danger" *ngIf="password.errors?.['noSpecialSymbol']">and must Contain Special Symbol </small>
        </div>
       
        </div>
        <div class="form-group" id="data">
            <label>Confirm Password</label>
            <input type="password" [class.is-invalid]="UserObj.errors?.['Mismatch']" formControlName="ConfirmPassword" class="form-control">
            <div  *ngIf="UserObj.errors?.['Mismatch']" class="text-danger">
                Passwords do not match
              </div>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <div class="imagePreview" *ngIf="imageUrl && imageUrl !== ''"><img [src]="imageUrl" [alt]="">
            </div>
              <input type="file" class="form-control" formControlName="Image" (change) = "onImageChange($event)" [class.is-invalid]="image.invalid && image.touched" />
              <image-cropper
              [imageChangedEvent]="imageEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 4"
              [resizeToWidth]="256"
              format="png"
              (imageCropped)="cropImg($event)"
              (imageLoaded)="imgLoad()"
              (cropperReady)="initCropper()"
              (loadImageFailed)="imgFailed()">
            </image-cropper>
              <small class="text-danger" *ngIf="image.invalid && image.touched">Image is required</small>
                     
          </div> 
          <!-- <div *ngIf="cropImgPreview">
            <h3>Real-time Cropped Image Preview:</h3>
            <img [src]="cropImgPreview" [alt]="">
          </div> -->
          
      <div id="submit">
            <button type="submit" pButton pRipple label="Register" class="p-button p-button-success btn-block"></button>
            <button  type="submit" class="btn btn-primary btn1" (click)="GoToLogin()">BackToLogin</button> 
        </div>
    </form>
   </div>
</div>
